<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 100px;
            text-align: center;
        }

        h1 {
            font-size: 3em;
            color: #dc3545;
        }

        p {
            font-size: 1.5em;
            color: #343a40;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Oops! Error al generar la constancia</h1>
        <p>Tenga en cuenta que para generar la constancia debe rellenar todos los datos vinculados al estudiante.</p>
        <!-- Puedes agregar más contenido o estilos según tus preferencias -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-WI5xw4xjQibf3T5t5n2eTr4zDDXc0zUqcl4/xp5Sv0lZ4DI5tV6BhqFnhPpDd0P8J" crossorigin="anonymous"></script>
</body>
</html>
