{% extends 'index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Usuario</title>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h2 class="mb-4">¿Eliminar Usuario?</h2>
        <div class="alert alert-warning" role="alert">
          ¿Estás seguro de que deseas eliminar este usuario <strong>{{ user }}</strong>?
      </div>
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
        </form>
        <a href="{% url 'view_profile' %}" class="btn btn-secondary">Cancelar</a>
    </div>
</body>
</html>
{% endblock %}
