{% extends 'index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Materia</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Editar Materia</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <table class="table">
                <tbody>
                    <tr>
                        <td>Nombre de Materia</td>
                        <td>{{ form.Nombre_Materia }}</td>
                    </tr>
                    <!-- Agregar más campos según tus necesidades -->
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'lista_materias' %}" class="btn btn-secondary mb-6">Volver a la lista</a>
        </form>
    </div>
</body>
</html>
{% endblock %}