{% extends 'index.html' %}

{% load static %} 

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Inscripción del Estudiante</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
    <style>
        #id_id_Grado, #id_Cedula_Estudiante, #id_Ano_Escolar, #id_Cedula_Cargos, #id_Fecha_Inscripcion, #id_Codigo_Institucion, #id_Condicion_Inscripcion {
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Editar Inscripción del Estudiante</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <table class="table">
                <tbody>
                    <tr>
                        <td>Cedula del Estudiante</td>
                        <td>{{ form.Cedula_Estudiante }}</td>
                    </tr>
                    <tr>
                        <td>Condicion del Estudiante</td>
                        <td>{{ form.Condicion_Inscripcion }}</td>
                    </tr>
                    <tr>
                        <td>Grado</td>
                        <td>{{ form.Id_Materia_Seccion }}</td>
                    </tr>
                    <tr>
                        <td>Año Escolar</td>
                        <td>{{ form.Ano_Escolar }}</td>
                    </tr>
                    <tr>
                        <td>Directivo</td>
                        <td>{{ form.id_cargos }}</td>
                    </tr>
                    <tr>
                        <td>Institucion</td>
                        <td>{{ form.id_Institucion }}</td>
                    </tr>
                    <tr>
                        <td>Fecha de Inscripción</td>
                        <td>{{ form.Fecha_Inscripcion }}</td>
                    </tr>
                    <!-- Agregar más campos según tus necesidades -->
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'lista_inscripciones_estudiantes' %}" class="btn btn-secondary mb-6">Volver a la lista</a>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-WI5xw4xjQibf3T5t5n2eTr4zDDXc0zUqcl4/xp5Sv0lZ4DI5tV6BhqFnhPpDd0P8J" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>
<script>
// In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
    $('#id_id_Grado').select2();
    $('#id_Cedula_Estudiante').select2();
    });
</script>

{% endblock %}
